<ion-view title="SAGAA">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/7gg73UBQdmrVaq6NKqug_umss.jpg) no-repeat center;" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input" name="path">
                <span class="input-label">Insert html:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="#/page1/page4" class="button button-positive button-outline button-block ">Descargar</a>
    </ion-content>
</ion-view>